html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.header {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(254, 220, 29);
}

.header__title {
  font-size: 3rem;
}
